# Environment
.env
*.env.local

# Docker
docker-compose.override.yml

# Node
node_modules/
dist/
.next/

# MediaWiki
mediawiki/images/
mediawiki/cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.superpowers/
